<div class="main-container">
  <div class="sidebar">
    <div class="profile-picture">
      <img [src]="user.pictureUrl" alt="Profile Picture" class="circle" />
    </div>
    <div class="profile-info">
      <p>{{ user.name }}, {{ user.surname }}, {{ user.role }}</p>
    </div>
    <button (click)="goToWorkHours()">Darba stundas</button>
    <button (click)="goToFiles()">Faili</button>
    <button (click)="goToEmployeeManagement()">Darbinieki</button>
    <button>Ekstra 2</button>
  </div>

  <div class="content">
    <h2>Aktuālie projekti</h2>
    <table>
      <thead>
      <tr>
        <th>Projekts</th>
        <th>Statuss</th>
        <th>Darbības</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.projectName }}</td>
        <td>{{ project.isActive ? 'Aktīvs' : 'Neaktīvs' }}</td>
        <td>
          <button (click)="editProject(project.id)">Rediģēt</button>
          <button (click)="deleteProject(project.id)">Dzēst</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
