<div class="main-container">
  <div class="sidebar">
    <div class="profile-picture">
      <img [src]="user?.pictureUrl" alt="Profile Picture" class="circle" />
    </div>
    <div class="profile-info">
      <p>{{ user?.name }} {{ user?.surname }}</p>
      <p class="role">{{ user?.RoleName }}</p>
    </div>
    <button (click)="goToWorkHours()">Darba stundas</button>
    <button (click)="goToFiles()">Faili</button>
    <button (click)="goToEmployeeManagement()">Darbinieki</button>
    <button>Ekstra 2</button>
  </div>

  <div class="content">
    <h2>Aktuālie projekti</h2>
    <table>
      <thead>
      <tr>
        <th>Projekts</th>
        <th>Statuss</th>
        <th>Darbības</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.ProjectName }}</td>
        <td>
            <span class="status" [ngClass]="{ 'active': project.IsActive, 'inactive': !project.IsActive }">
              {{ project.IsActive ? 'Aktīvs' : 'Neaktīvs' }}
            </span>
        </td>
        <td>
          <button class="action-btn edit" (click)="editProject(project.Id)">Rediģēt</button>
          <button class="action-btn delete" (click)="deleteProject(project.Id)">Dzēst</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
