<div class="container">
  <div class="sidebar">
    <div class="circle">Grafiks</div>
    <div class="circle">Grafiks</div>
    <div class="circle">Grafiks</div>
  </div>

  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Dienas</th>
        <th>Uzdevums</th>
        <th>Stundas</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
