<div class="container">
  <div class="header">
    <button class="back-button" (click)="goBack()">Atgriezties</button>
  </div>
  <div class="sidebar">
    <button class="circle" (click)="setGoal()">Uzstādi mērķi</button>
    <button class="circle" (click)="addWorkHours()">Pievienot Stundas</button>
    <div class="goal-info">Mērķis: {{ goal }} stundas</div>
    <div class="progress-info">
      Stundas nostrādātas: {{ totalHours }} / {{ goal }} h
    </div>
  </div>

  <div class="chart-container">
    <canvas id="progressChart"></canvas>
  </div>

  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Datums</th>
        <th>Uzdevums</th>
        <th>Stundas</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of rows">
        <td>{{ row.date }}</td>
        <td>{{ row.task }}</td>
        <td>{{ row.hours }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
